.backconnect {
	.title {
		color: rgb(24, 50, 76);
	}
	&__content {
		padding: 80px 0 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 650px) {
			padding: 40px 0 60px;
		}
	}
	&__form {
		width: 50%;
		@media screen and (max-width: 950px) {
			width: 70%;
			order: 1;
		}
		@media screen and (max-width: 760px) {
			width: 100%;
		}
	}
	&__text {
		width: 50%;
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		padding-left: 85px;
		@media screen and (max-width: 1100px) {
			padding-left: 20px;
			font-size: 18px;
			line-height: 18px;
		}
		@media screen and (max-width: 950px) {
			width: 70%;
			padding-left: 0;
			margin-top: 40px;
			order: 2;
		}
		@media screen and (max-width: 760px) {
			width: 100%;
		}
		@media screen and (max-width: 520px) {
			font-size: 15px;
			line-height: 15px;
			text-align: center;
		}
		p {
			margin: 0;
			margin-bottom: 10px;
			background-color: rgba(24, 50, 76, 0.88);
			display: inline-block;
			padding: 5px 10px;
			color: white;
			@media screen and (max-width: 520px) {
				width: 100%;
			}
		}
	}
	&__checkbox {
		width: 100%;
		margin: 15px 0 0;
		/*Стилизация*/
		display: inline-flex;
		align-items: center;
		user-select: none;
		cursor: pointer;
		&>span:before {
			content: '';
			display: inline-flex;
			align-items:center;
			width: 25px;
			height: 25px;
			margin-right: 14px;
			flex-shrink: 0;
			flex-grow: 0;
			border: 1px solid rgb(24, 50, 76);
			background: #FFFFFF;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 14px 9px;
			transition: 0.5s ease;
		}
		&>input:checked+span::before {
			background-image: url("../img/checked.png");
		}
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
		span {
			display: inline-flex;
			align-items: center;
		}
		&:hover {
			&>span:before {
				-webkit-box-shadow: 0px 0px 1px 4px rgba(24, 50, 76, 0.88) inset;
				-moz-box-shadow: 0px 0px 1px 4px rgba(24, 50, 76, 0.88) inset;
				box-shadow: 0px 0px 1px 4px rgba(24, 50, 76, 0.88) inset;
			}
		}
	}
}