.backconnect {
	.title {
		color: rgb(24, 50, 76);
	}
	&__content {
		padding: 80px 0 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__form {
		width: 50%;
	}
	&__text {
		width: 50%;
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		padding-left: 85px;
		p {
			margin: 0;
			margin-bottom: 10px;
			background-color: rgba(24, 50, 76, 0.88);
			display: inline-block;
			padding: 5px 10px;
			color: white;
		}
	}
}