//mobile nav

.burger {
	display: block;
	width: 25px;
	height: 3px;
	background-color: white;
	position: absolute;
	top: 7px;
	left: 2px;
	transition: 0.5s ease; 
	@media screen and (max-width: 400px) {
		margin-right: 10px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: white;
		top: 6px;
		transition: 0.5s ease;
	}
	&:after {
		content: '';
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: white;
		top: 12px;
		transition: 0.5s ease;
	}
}


.nav.active {
	display: flex;
}
.burger.active {
	top: 12px;
	-moz-transform: rotate(-135deg); 
	-ms-transform: rotate(-135deg); 
	-webkit-transform: rotate(-135deg); 
	-o-transform: rotate(-135deg); 
	transform: rotate(-135deg);
	&:before {
		opacity: 0;
	}
	&:after {
		top: 0px;
		-moz-transform: rotate(270deg); 
		-ms-transform: rotate(270deg); 
		-webkit-transform: rotate(270deg); 
		-o-transform: rotate(270deg); 
		transform: rotate(270deg);
	}
}