.footer {
	background: linear-gradient(90deg, rgba(24,50,76,1) 0%, rgba(33,69,104,1) 100%, rgba(255,255,255,0) 100%);
	padding: 10px 0;
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
		a {
			color: white;
		}
	}
}