.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	input {
		background: rgba(33, 69, 104, 0.75);
		padding: 14px 20px;
		color: #fff;
		border: none;
		outline: none;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		&:hover {
			background: rgba(24, 50, 76, 0.75);
		}
		&:focus {
			background: rgba(24, 50, 76, 0.75);
			outline: 2px dashed rgba(24, 50, 76, 0.85);
		}
		&::-moz-placeholder {
			color: white; 
		}
		&::-webkit-input-placeholder {
			color: white; 
		}
	}
	&__name {
		width: 49%;
	}
	&__tel {
		width: 49%;
	}
	&__text {
		width: 100%;
		padding: 14px 20px;
		resize: none;
		height: 84px;
		background: rgba(33, 69, 104, 0.75);
		color: #fff;
		outline: none;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
		&:hover {
			background: rgba(24, 50, 76, 0.75);
		}
		&:focus {
			background:rgba(24, 50, 76, 0.75);
			outline: 2px dashed rgba(24, 50, 76, 0.85);
		}
		&::-moz-placeholder {
			color: white; 
		}
		&::-webkit-input-placeholder {
			color: white; 
		}
	}
	&__button {
		width: 100%;
		height: 60px;
		background: rgb(33, 69, 104);
		border: 2px solid rgb(33, 69, 104);
		font-family: Montserrat;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		color: #fff;
		transition: 0.3s ease;
		cursor: pointer;
		margin-top: 15px;
		&:hover {
			background-color: rgb(24, 50, 76);
			border: 2px solid rgba(33, 69, 104, 0.5);
			box-shadow: 0 0 5px rgba(29, 157, 211, 0.5);
		}
	}
}