.title {
	font-weight: 800;
	font-size: 27px;
	line-height: 20px;
	width: 100%;
	margin-bottom: 40px;
	@media screen and (max-width: 650px) {
		font-size: 22px;
		line-height: 20px;
		margin-bottom: 20px;
	}
}
.small-title {
	background-color: rgb(24, 50, 76);
	margin-bottom: 20px;
	display: inline-block;
	padding: 5px 10px;
	color: white;
	@media screen and (max-width: 650px) {
		font-size: 16px;
		margin-bottom: 10px;
	}
}
.bg-blue {
	background-color: white;
	color: rgb(24, 50, 76);
}

html {
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

.gold {
	span {
		background-image: linear-gradient(to right, #cb9b51 0%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 100%);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
}