.intro {
	width: 100%;
	height: 80vh;
	background-image: url(/img/intro/1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	color: white;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: linear-gradient(90deg, rgba(33,69,104,0) 0%, rgba(24,50,76,0.8099614845938375) 10%, rgba(24,50,76,0.7959558823529411) 100%);

	}
	&__content {
		position: relative;
		z-index: 2;
		padding: 200px 0 0;
	}
	&__title {
		font-size: 42px;
	}
	&__text {
		max-width: 830px;
		font-weight: 400;
		font-size: 25px;
		line-height: 32px;
	}
}