.list {
	li {
		position: relative;
		margin-bottom: 14px;
		margin-left: 20px;
		&:before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			left: -19px;
			top: 6px;
			background-color: white;
		}
	}
}