.nav {
	display: flex;
	@media screen and (max-width: 780px) {
		position: absolute;
		flex-direction: column;
		left: 0;
		top: 80px;
		background: linear-gradient(90deg, #214568 0%, #18324c 100%, rgba(255, 255, 255, 0) 100%);
		z-index: 2;
		padding: 10px 0;
	}
	&__elem {
		display: flex;
		padding: 0 25px;
		opacity: 0.9;
		position: relative;
		justify-content: center;
		transition: 0.5s ease;
		color: white;
		font-weight: 500;
		font-size: 14px;
		line-height: 15px;
		@media screen and (max-width: 1030px) {
			padding: 0 20px;
		}
		@media screen and (max-width: 890px) {
			padding: 0 10px;
		}
		@media screen and (max-width: 780px) {
			padding: 10px 0;
		}
		&:before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 2px;
			background-color: white;
			content: "";
			transition: 0.5s ease;
			opacity: 0;
			top: 100%;
			margin-top: 2px;
			@media screen and (max-width: 780px) {
				display: none;
			}
		}
		&:hover {
			opacity: 1;
			&:before {
				width: 70%;
				opacity: 1;
			}
		}
	}
}