.nav {
	display: flex;
	&__elem {
		display: flex;
		padding: 0 30px;
		opacity: 0.9;
		position: relative;
		justify-content: center;
		transition: 0.5s ease;
		color: white;
		font-weight: 400;
		font-size: 17px;
		line-height: 15px;
		&:before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 2px;
			background-color: #e0540d;
			content: "";
			transition: 0.5s ease;
			opacity: 0;
			top: 100%;
			margin-top: 2px;
		}
		&:hover {
			opacity: 1;
			&:before {
				width: 70%;
				opacity: 1;
			}
		}
	}
}