<header class="header">
	<div class="header__wrapper">
		<div class="header__logo">
			<a href="/" class="logo"></a>
			<p>Arbitrage52</p>
		</div>
		<div class="header__burger" id="burger">
			<a class="burger" id="burgerlink"></a>
		</div>
		<div id="nav" class="header__nav nav">
			<a href="#price" class="nav__elem">Цены</a>
			<a href="#services" class="nav__elem">Услуги</a>
			<a href="#benefits" class="nav__elem">Преимущества</a>
			<a href="#contact" class="nav__elem">Контакты</a>
		</div>
		<div class="header__phone">
			<a rel="nofollow" href="tel:+79040445712" class="phone">+7-904-044-57-12</a>
		</div>
	</div>
</header>
