<!-- Intro -->

<div class="intro">
	<div class="wrapper">
		<div class="intro__content">
			<h1 class="title intro__title">Полный комплекс услуг по арбитражному праву</h1>
			<h2 class="text intro__text">От консультаций и составления экспертизы документов до судебного представительства и решения споров в арбитражном суде. Возможно оказание услуг дистанционно, в другом регионе.</h2>
			<a class="intro__button button">Задать вопрос</a>
		</div>
	</div>
</div>

<!-- Benefits -->

<div class="benefits">
	<div class="wrapper">
		<div class="benefits__content">
			<div class="benefits__card">
				<a style="background-image: url(img/benefits/1.png);"></a>
				<p>95% выигранных дел</p>
			</div>
			<div class="benefits__card">
				<a style="background-image: url(img/benefits/2.png);"></a>
				<p>10 лет судебной практики</p>
			</div>
			<div class="benefits__card">
				<a style="background-image: url(img/benefits/3.png);"></a>
				<p>Доступные цены</p>
			</div>
			<div class="benefits__card">
				<a style="background-image: url(img/benefits/4.png);"></a>
				<p>Cамый высокий уровень услуг</p>
			</div>
		</div>
	</div>
</div>

<div class="services">
	<div class="wrapper">
		<div class="services__content">
			<div class="services__list list">
				<ul>
					<li>Споры с контрагентами;</li>
					<li>Споры, вытекающие из арендных правоотношений;</li>
					<li>По обязательствам, возникающим из иных различных видов сделок;</li>
					<li>Оспаривание административных правонарушений и представление интересов в государственных органах;</li>
					<li>Возмещение убытков, причиненных компании, корпоративные споры;</li>
					<li>Проведение и сопровождение банкротства юридических и физических лиц;</li>
					<li>Налоговые споры;</li>
					<li>Представление интересов в вопросах банкротства юридических и физических лиц.</li>
				</ul>
			</div>
			<div class="services__img">
				<a></a>
			</div>
		</div>
	</div>
</div>