<!-- Intro -->

<div class="intro">
	<div class="wrapper">
		<div class="intro__content">
			<h1 class="intro__title"><span>Полный комплекс услуг по&nbsp;арбитражному праву</span></h1>
			<h2 class="text intro__text">От&nbsp;консультаций и&nbsp;составления экспертизы документов до&nbsp;судебного представительства и&nbsp;решения споров в&nbsp;арбитражном суде. Возможно оказание услуг дистанционно, в&nbsp;другом регионе.</h2>
			<a href="#contact" class="intro__button button">Задать вопрос</a>
		</div>
	</div>
</div>

<!--price-->

<div id="price" class="price">
	<div class="wrapper">
		<div class="price__content">
			<h3 class="title">Цены на юридические услуги:</h3>
			<div class="price__general">
				<h3 class="small-title">Общие услуги:</h3>
				<p>Консультация по телефону - <span>бесплатно</span></p>
				<p>Устная консультация - от <span>1 000</span> рублей/час</p>
				<p>Письменная консультация - от <span>5 000</span> рублей</p>
				<p>Составление  юридической документации - от <span>1 000</span> рублей/документ</p>
				<p>Составление договоров – от <span>15 000</span> рублей</p>
				<p>Сопровождение сделки – от <span>15 000</span> рублей</p>
			</div>
			<div class="price__representation">
				<h3 class="small-title">Представительство в Судах:</h3>
				<p>Cоставление искового заявления – от <span>10 000</span> рублей</p>
				<p>Cоставление ходатайств, запросов – <span>1 000</span> рублей/документ</p>
				<p>Участие в предварительном судебном заседании – <span>3 000</span> рублей</p>
				<p>Участие в судебном заседании (любой инстанции) – от <span>5 000</span> рублей</p>
				<p>Составление апелляционной, кассационной жалоб – от <span>10 000</span> рублей</p>
			</div>
			<h4>* Цена определяется с&nbsp;Доверителем до&nbsp;подписания договора и&nbsp;не&nbsp;меняется в&nbsp;последующем.</h4>
		</div>
	</div>
</div>

<!-- services -->

<div id="services" class="services">
	<div class="wrapper">
		<div class="services__content">
			<div class="services__list list">
				<h3 class="title"><span>Виды услуг:</span></h3>
				<ul>
					<li>Споры с контрагентами;</li>
					<li>Споры, вытекающие из арендных правоотношений;</li>
					<li>По&nbsp;обязательствам, возникающим из&nbsp;иных различных видов сделок;</li>
					<li>Оспаривание административных правонарушений и&nbsp;представление интересов в&nbsp;государственных органах;</li>
					<li>Возмещение убытков, причиненных компании, корпоративные споры;</li>
					<li>Проведение и&nbsp;сопровождение банкротства юридических и&nbsp;физических лиц;</li>
					<li>Налоговые споры;</li>
					<li>Представление интересов в&nbsp;вопросах банкротства юридических и&nbsp;физических лиц.</li>
				</ul>
			</div>
			<div class="services__img">
				<a></a>
			</div>
		</div>
	</div>
</div>

<!-- Benefits -->

<div id="benefits" class="benefits">
	<div class="wrapper">
		<div class="benefits__content">
			<div data-aos="zoom-in-right" class="benefits__card">
				<a style="background-image: url(img/benefits/1.png);"></a>
				<p>95% выигранных дел</p>
			</div>
			<div data-aos="zoom-in" class="benefits__card">
				<a style="background-image: url(img/benefits/2.png);"></a>
				<p>Более 10 лет судебной практики</p>
			</div>
			<div data-aos="zoom-in" class="benefits__card">
				<a style="background-image: url(img/benefits/3.png);"></a>
				<p>Доступные цены</p>
			</div>
			<div data-aos="zoom-in-left" class="benefits__card">
				<a style="background-image: url(img/benefits/4.png);"></a>
				<p>Cамый высокий уровень услуг</p>
			</div>
		</div>
	</div>
</div>

<!--scope-->

<div class="scope">
	<div class="wrapper">
		<div class="scope__content">
			<h3 class="title"><span>Cферы услуг:</span></h3>
			<div class="scope__info">
				<div class="scope__citizens">
					<h3 class="small-title bg-blue">Для граждан:</h3>
					<p>Автоюрист</p>
					<p>Гражданско-правовые споры</p>
					<p>Долги и кредиты</p>
					<p>Защита прав потребителей</p>
					<p>Налоговый юрист</p>
					<p>Наследственные споры</p>
					<p>Обжалование действий</p>
					<p>Отмена судебного приказа</p>
					<p>Сделки с недвижимостью</p>
					<p>Составление документов</p>
					<p>Страховые споры</p>
					<p>Трудовые споры</p>
				</div>
				<div class="scope__business">
					<h3 class="small-title bg-blue">Для бизнеса:</h3>
					<p>Арбитражные споры</p>
					<p>Налоговые споры</p>
					<p>Споры с гос.органами (ФССП, ФАС и др.)</p>
					<p>Судебное представительство</p>
					<p>Юридическое обслуживание</p>
				</div>
			</div>
			<div class="scope__img">
				<a></a>
			</div>
		</div>
	</div>
</div>

<!--Backconnect-->

<div id="contact" class="backconnect">
	<div class="wrapper">
		<div class="backconnect__content">
			<h3 class="title">Контакты:</h3>
			<div class="backconnect__form">
				<form class="form" action="mail.php" method="post">
					<input name="name" class="form__name" id="name" type="text" placeholder="Имя" required>
					<input name="number" class="form__tel" id="tel" type="tel" pattern="\+?[0-9\s\-\(\)]+" placeholder="Телефон" required>
					<textarea name="text" class="form__text" id="question" placeholder="Задайте вопрос:"></textarea>
					<label class="backconnect__checkbox">
						<input type="checkbox" name="checkbox" value="yes" required><span>Согласен на обработку персональных данных</span>
					</label>
					<button class="form__button" type="submit"><span>Отправить</span></button>
				</form>
			</div>
			<div class="backconnect__text">
				<p data-aos="fade-left"><span>Экономим Ваше время, позволяя решать другие актуальные задачи</span></p>
				<p data-aos="fade-left">Экономим деньги, не&nbsp;навязывая лишних услуг</p>
				<p data-aos="fade-left">Реальный результат с&nbsp;минимальными затратами</p>
				<p data-aos="fade-left"><span>Не обещаю невозможного!</span></p>
				<p data-aos="fade-left">Действуем решительно и&nbsp;результативно</p>
			</div>
		</div>
	</div>
</div>