// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss
@import "./components/generalStyle";
@import "./components/wrapper";
@import "./components/button";
@import "./components/list";
@import "./components/form";
@import "./components/logo";
@import "./components/nav";

@import "./components/header";
@import "./components/intro";
@import "./components/benefits";
@import "./components/services";
@import "./components/price";
@import "./components/scope";
@import "./components/backconnect";
@import "./components/footer";

